@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400;0,9..40,700;1,9..40,400;1,9..40,700&family=DM+Serif+Display&display=swap");

:root {
  --ff-heading: "DM Serif Display", serif;
  --ff-text: "DM Sans", sans-serif;

  --clr-background: #1e1e2e;
  --clr-text: #cdd6f4;
  --clr-accent: #f5c2e7;
  --clr-black: #181825;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  color: inherit;
}

::-moz-selection {
  color: var(--clr-black);
  background: var(--clr-accent);
}

::selection {
  color: var(--clr-black);
  background: var(--clr-accent);
}

body {
  background: var(--clr-background);
  color: var(--clr-text);
  font-family: var(--ff-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
}

.container {
  margin-top: 2rem;
}

.page-title {
  text-align: center;
}
